include README.md
recursive-include octoprint_z_probe_offset_universal/templates *
recursive-include octoprint_z_probe_offset_universal/translations *
recursive-include octoprint_z_probe_offset_universal/static *